
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<footer class="navbar navbar-light bg-light">

        <div class="col-sm-4">
            <p>
            Contacteer ons<br>
            Voorwaarden<br>
            Disclaimer
            </p>
        </div>
        <div class="col-sm-4">
            Copyright 2017
        </div>
        <div class="col-sm-4">
        <div class="socialmedia">
          <p>Volg ons ook elders</p>
          <i class="fa fa-facebook-square" style="font-size:36px"></i>
          <i class="fa fa-pinterest-square" style="font-size:36px"></i>
          <i class="fa fa-instagram" style="font-size:36px"></i>
        </div>
        </div>
    
</footer>
