@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

body{
  font-family: Dosis, sans-serif;
}

h1, h2{
  color: #406d5f;
  margin-top: 20px;
}

.mb-0{
  
}

.indexfoto{
  position: relative;
}

.btn,.btn:hover {
  color: white;
	background-color: #bb5a18;
	border: none;
	border-radius: 10em;
	padding: 5px 30px 5px 30px;
	margin: 20px 0 20px 0;
  font-family: Dosis, sans-serif;
}

.lmk{
  position: absolute;
  left: 70px;
  top: 50%;
  font-size: 14pt;
}

.cartoonimage{
  width: 250px;
  margin-top: 60px;
  margin-left: 70px;
}

nav{
  font-family: Source Sans Pro, sans-serif;
}

nav a{
  margin-left: 20px;
  margin-right: 20px;
}

footer{
  font-family: Source Sans Pro, sans-serif;
}

.socialmedia{
  text-align: center;
}

.scrollbutton{
  text-align: center;
  margin-bottom: 20px;
}

.carousel{
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.card {
  text-align: center;
  text-decoration: none;
  color: black;
  width: 100%;
  .cardbody{
  border-left: solid grey 1px;
  }
  .cardbody:first-child{
  border-left: none;
  }
  }

  a:link, a:visited {
    text-align: center;
    text-decoration: none;
    }

#accordion{
  margin-top: 20px;
}

#accordion a{
  color: #bb5a18;
}

#overdehond{
  text-align: center;
}

#vragen{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#naam{
  margin-top: 40px;
}

#infohond{
  margin-bottom: 20px;
}

#advies{
  margin-top: 10px;
  margin-bottom: 1px;
}

#ira{
  text-align: right;
}

#introtekst{
  color: #807c7e;
  font-size: 14pt;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

#bestelling{
  text-align: left;
}

.bevestiging{
  text-align: center;
}

.kaart{
  text-align: center;
}

td{
  padding-right: 50px;
}

.rechterkolom{
  margin-top: 91px;
}

.knopmidden{
  margin: auto;
}

.info{
  text-align: center;
  margin-top: 20px;
}

.contactform{
  width: 800px;
  height: 525px;
  text-align: center;
  background-color: #91a78a;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contactform p{
  margin-left: 80px;
  margin-top: 10px;
  text-align: left;
  font-size: 14pt;
}

input[type="text"]{
  padding: 10px 20px;
  border: solid, black;
  padding-left: 500px;
}

textarea{
  padding: 10px 20px;
  border: solid, black;
  padding-left: 500px;
}

.betaling{
  width: 800px;
  height: 200px;
}

.overzicht{
  font-size: 14pt;
  text-align: right;
  border: solid black 0.1em;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}